
a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #1f2937;
    color: #fff;    
}

.logo-links,
.about {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding-left: 20px;   
    padding-right: 20px;
}

.logo-links {
    padding-top: 15px;
    align-items: center;    
}

.logo {
    width: 40px;
    object-fit: cover;    
}

.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .info {
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 1;
}

.about-img {
    object-fit: contain;
    height: 200px;
    width: 200px;
}

.info h1 {
    font-size: 40px;
    font-weight:600;
    color: #f9faf8;
}

.info-list {
    border: 1px solid #1f2937;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;   
    padding-right: 20px;    
}

.info-list h1 {
    font-size: 28px;
    color: #1f2837;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
}

.info-list ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.info-list ul li {            
    flex: 1 0 180px;
    text-align: center;
}

.info-list img {
    width: 180px;
    object-fit: cover;
    border: 2px solid #1f2937;
    border-radius: 20px;
}

.testimonial {
    background-color: #e5e7eb;    
}

.testimonial .content {
    max-width: 800px;
    padding: 40px 20px;
    margin: 0 auto;
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
}


<main>



<div class="testimonial">
    <div class="content">
        <p>
            This is an inspiring quote, or a testimonial form a customer.
            Maybe it's just filling up space, or maybe people will actually read it.
            Who knows? All I know is that it looks nice.
        </p>
        <p>-Thor, God of Thunder</p>
    </div>                
</div>

<div class="cta">
    theres some text and button here
</div>
</main>

<footer>
this is footer
</footer>