* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif; 
    font-size: 18px;  
    color: #1f2937; 
}

h1, p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

button {
    padding: 8px 20px;
    background-color: #3882f6;
    color: #fff;
    margin: 10px 0;
    border: none;
    border-radius: 5px; 
    font-size: 18px;   
    width: 100%;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.dark-blue { background-color: #1f2937; color: #f9faf8 }
.light-gray { background-color: #e5e7eb; }
.blue { background-color: #3882f6; color: #f9faf8 ;}

.blue button {
    border: 1px solid #f9faf8;
    width: 100%;
}

/** Header section **/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.header {
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    font-family: "Belleza", sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;    
}

.logo img {
    object-fit: contain;
    width: 60px;
    height: 60px;
}

.logo p {
    display: none;
}

nav a {
    font-size: 14px;
}

nav a::after {
    content: "|";
    padding-left: 10px;
}

nav a.last::after {
    content: "";
}


/** Second section **/
.about {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.info {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.about h1 {
    font-size: 48px;
    font-weight: bold;
}

.about-img {
    object-fit: contain;
    width: 100%;
}

/** Third section **/
.info-list h1 {
    font-size: 28px;
    color: #1f2837;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.info-list ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 40px;
    font-size: 16px;
}

.info-list ul li {            
    flex: 1 0 100%;
    text-align: center;
}

.info-list img {
    width: 50%;
    object-fit: cover;         
}

/* Third section */
.quote {
    font-size: 27px;
    font-style: italic;
    max-width: 700px;
}

.author {
    font-style: normal;
    color: #636d7a;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}

/* Fourt section (Call to action) */
.call-to-action {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 10px;
    justify-content: space-between;
}

.footer {
    text-align: center;
}

@media screen and (min-width: 700px) {

    .logo p {
        display: block;
    }

    button {
        width: 50%;
    }

    .about {
        flex-direction: row;
    }

    .about-img {
        width: 350px;
    }


    .info-list ul li {            
        flex: 1 0 250px;
        max-width: 250px;
    }    

    .info-list img {
        width: 160px;
    }

    .quote {
        font-size: 32px;
    }    

    .author {
        margin-right: 100px;
    }

    .blue button {
        width: 20%;
    }
   
}